@model PikaShop.Shared.ProductVm

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-2"></div>
    <div class="col-4">
        <img src="~/@Model.ThumbnailImageUrl" class="card-img-top" alt="Image game." style="padding: 3rem"/>
    </div>
    <div class="col-4" style="padding-top: 3rem">
        <h3 class="product-name">@Model.name_product</h3>
        <hr />
        <p>
            <span class="item-title">Category: @Model.name_category</span>
        </p>
        <p>
            <span class="item-title">Brand: @Model.name_brand</span>
        </p>
        <p>
            <span class="item-title">Height: @Model.height cm</span>
        </p>
        <p>
            <span class="item-title">Weight: @Model.weight kg</span>
        </p>
        <p>
            <span class="item-title">Description: @Model.description</span>
        </p>
        <p>
            <span class="item-title">Quantity: @Model.quantity</span>
        </p>
        <p>
            <span class="item-title">Price: $@Model.price</span>
        </p>
        <a href="#" class="btn btn-success">Add to cart!</a>
        <a href="#" class="btn btn-primary">Buy Now!</a>
    </div>
    <div class="col-2"></div>
</div>
