@model PikaShop.Shared.ProductVm
@using Microsoft.AspNetCore.Http
@using PikaShop.CustomerSite.Extentions

@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-2"></div>
    <div class="col-4">
        <img src="~/@Model.ThumbnailImageUrl" class="card-img-top" alt="Image game." style="padding: 3rem" />
    </div>
    <div class="col-4" style="padding-top: 3rem">
        <h3 class="product-name">@Model.name_product</h3>
        <hr />
        <p>
            <span class="item-title">Category: @Model.name_category</span>
        </p>
        <p>
            <span class="item-title">Brand: @Model.name_brand</span>
        </p>
        <p>
            <span class="item-title">Height: @Model.height cm</span>
        </p>
        <p>
            <span class="item-title">Weight: @Model.weight kg</span>
        </p>
        <p>
            <span class="item-title">Description: @Model.description</span>
        </p>
        <p>
            <span class="item-title">Quantity: @Model.quantity</span>
        </p>
        <p>
            <span class="item-title">Price: $@Model.price</span>
        </p>
        @*<a href="#" class="btn btn-success">Add to cart!</a>
        <a href="#" class="btn btn-primary">Buy Now!</a>*@

    <div class="add-to-box">
        @{
            bool isInBag = false;
            List<int> lstCart = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart");
            if (lstCart != null && lstCart.Contains(Model.id_product))
            {
                isInBag = true;
            }
        }
        @if (Model.quantity != 0)
        {
            @if (isInBag)
            {
                <a asp-controller="ShoppingCart" asp-action="Remove" asp-route-id="@Model.id_product" class="btn btn-success">Remove</a>
            }
            else
            {
                <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.id_product" class="btn btn-primary">Add to cart!</a>

            }
        }
        else
        {
            <label class="btn btn-danger">Out stock </label>
        }
    </div>
    </div>
    <div class="col-2"></div>
</div>
