@model IList<PikaShop.Shared.ProductVm>
@using PikaShop.Shared

@{ 
    int total = 0;
    int quantity = 0;
}

<style>
    table tr .info{
        text-align: center;
        padding-top: 40px;
    }
</style>
@if (Model.Count != 0)
{
    <form method="post">
        <br /><br />
        <h2 class="text-info">My Shopping cart</h2>
        <br />
        <div class="container border border-secondary rounded " style="padding: 15px; border-radius:5px; border:1px solid #bbb9b9">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped rounded" style="width:100%; border-radius:5px; border:1px solid #bbb9b9 ">
                        <tr class="table-info">
                            <th style="text-align:center; width:20%">
                                <label>Image</label>
                            </th>
                            <th style="text-align:center;">
                                <label>Name</label>
                            </th>
                            <th style="text-align:center;">
                                <label>Brand</label>
                            </th>
                            <th style="text-align:center;">
                                <label>Category</label>
                            </th>
                            <th style="text-align:center;">
                                <label>Price</label>
                            </th>
                            <th style="text-align:center;"></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr style="padding:50px;">
                                <td>
                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.id_product">
                                        <img src="@Config.ApiUrl/@item.ThumbnailImageUrl" style="width:60px; height:90px; margin:auto; display:block; border-radius:5px; border:1px solid #bbb9b9" />
                                    </a>
                                </td>
                                <td class="info">
                                    @Html.DisplayFor(x => item.name_product)
                                </td>
                                <td class="info">
                                    @Html.DisplayFor(x => item.name_brand)
                                </td>
                                <td class="info">
                                    @Html.DisplayFor(x => item.name_category)
                                </td>
                                @{

                                    total += (int)item.price;
                                    quantity++;
                                }
                                <td class="info">
                                    $@Html.DisplayFor(x => item.price)
                                </td>
                                <td class="info">
                                    <a type="submit" class="btn btn-danger" asp-action="remove" asp-route-id="@item.id_product">
                                        <i class="fas fa-trash-alt">Remove</i>
                                    </a>
                                </td>
                            </tr>

                        }
                            <tr>
                                <td style="padding-left: 80px">
                                 @quantity items.
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="padding-left: 55px">
                                 Total: $@total
                                </td>
                                <td></td>
                            </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button type="submit" id="btnPlaceOrder" class="btn btn-success">Check out</button>
            </div>
        </div>
    </form>
}
else
{
    <img src="~/img/empty-cart.png" style="display: block; margin: auto; width: 50rem;"/>
    <div class="info" style="text-align: center">
        <h3>The shopping cart is empty!</h3>
        <a asp-controller="Home" asp-action="Index">Shopping continue</a>
    </div>
} 